* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1E2326;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #1E2326;
    box-shadow: 5px 4px 80px rgba(58, 58, 58, 0.589);
}

main input:first-child {
    grid-column: 1 / span 4;
    color: black;
    cursor: text;
    background: white;
}

main input.purple {
    background: #5E4BB6;
}

main input.equal {
    grid-column: 4 / span 1;
    grid-row: 5 / span 2;
    background: #FEC208;
}

main input.zero {
    grid-column: 1 / span 2;
}

main input {
    padding: 1.8rem;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.5rem;
    color: white;
    outline: none;
    border: .1px solid rgba(255, 255, 255, 0.096);
}

main input:hover {
    border: .1px solid rgba(255, 255, 255, 0.4);
}

main.hide {
    opacity: .4;
}

#error {
    color: white;
    background: #1E2326;
    box-shadow: 5px 4px 80px rgba(58, 58, 58, 0.589);
    position: absolute;
    display: none
}

#error .error-wrapper {
    position: relative;
    padding: 5rem 2rem;
}

#error .error-wrapper #top-right {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

main.hide + #error {
    display: block;
}

a {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: rgb(206, 206, 206);
}

a:hover {
    color: white;
}